*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: orange;
}

html, body{
   overflow-x: hidden;
   max-width:100%;
}

.header-left{
    max-height: 100%;
}

.header-right ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: .5em;
    font-size: 16px;

    & a{
        text-decoration: none;
        color: white;
        padding: 0 10px;
    }

    & svg{
        width: 2rem;
    }
  }


.header-container{
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}


.baseplate{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.125em;
    
}

.houses{
    padding: 20px;
    background-color: orange;
    margin-top: 2em;
}

.baseplate img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.houses li{
    margin-left: 10px;
    color: black;
    list-style-type: none;
    padding: 10px;
}

.lists h1{
    font-size: 30px;
}

.list-items svg{
    background-color: orange;
}

.lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding: 20px;
    gap: 1.5em;
}

.users{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  position: relative;
}


.outer-rating{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating{
position: relative;
background-color: #cccccc;
width: 500px;
padding: 20px;

& img{
  width: 60px;
  height: 60px;
  border-radius: 50%;

  &:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
  }
}

& li{
  margin: 17px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
}

.common{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 1em;
}


 .top-rating button{
  display: flex;
  border: solid 2px orange;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  color: black;

  &:hover{
    transform: scale(1.1);
    transition: .5s;
    transition-timing-function: ease-in-out;
    
  }
}

.top-rating ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 30px;
}

.rate, .get-rate-stars{
  display: flex;
  justify-content: end; 

& input {
  cursor: pointer;
 
}
}

.rate label{
  display: block;
  padding: .125em;
  color: grey;
}

.rate label::after{
  content: "★";
}
.rate input{
  position: absolute;
  left: -999em;
}

input:checked + label,

.rate:has(input:nth-of-type(5):checked) label:nth-of-type(-n + 5),
/* als de 4e gechecked is dan wordt er vanaf de 4e teruggeteld en goud gemaakt */
.rate:has(input:nth-of-type(4):checked) label:nth-of-type(-n + 4),
.rate:has(input:nth-of-type(3):checked) label:nth-of-type(-n + 3),
.rate:has(input:nth-of-type(2):checked) label:nth-of-type(-n + 2),
.rate:has(input:nth-of-type(1):checked) label:nth-of-type(-n + 1){
  color: gold;
}

.rate:has(label:nth-of-type(5):hover) label:nth-of-type(-n + 5),
.rate:has(label:nth-of-type(4):hover) label:nth-of-type(-n + 4),
.rate:has(label:nth-of-type(3):hover) label:nth-of-type(-n + 3),
.rate:has(label:nth-of-type(2):hover) label:nth-of-type(-n + 2),
.rate:has(label:nth-of-type(1):hover) label:nth-of-type(-n + 1){
  color: gold;
  transform: scale(1.4);
}

.rate:focus-within{
  outline: solid .1px blue;
}
.main-rating button{
  border: none;
  cursor: pointer;
  color: blue;
  background: none;
  margin: .5em 0 0 .5em;

  &:hover{
    transform: scale(1.06);
    transition: .3s;
  }

 }
 
.notes{
  margin-top: 3em;
}

.notes input{
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: solid 1px orange;
  border-radius: 10px;
  margin-top: 20px;
}

 textarea{
  box-sizing: border-box;
  display: block;
  resize: none; 
  border-radius: 10px;
  height: 150px;
  padding: 5px;
  max-width: 100%;
 }
    @media screen and (min-width: 457px) {

      
        .baseplate {

          grid-template-columns: 1fr;
        }
      }
      
      @media screen and (min-width: 748px) {
        .baseplate{
          grid-template-columns: 1fr 1fr;
        }
      
      }
      
      @media screen and (min-width: 1366px) {
        .baseplate{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      @media only screen and (min-width: 776px) {
        .menu {
          display: none;
        }
    }
    
    @media  screen and (max-width:860px) {
      .header-right li:nth-of-type(n + 1):nth-of-type(-n + 7) {
        display: none;
      }
    }
  